cosl # dependency from charm
pydantic < 2 # dependency from charm
python-openstackclient

git+https://github.com/openstack-charmers/zaza.git@master#egg=zaza
git+https://github.com/openstack-charmers/zaza-openstack-tests.git#egg=zaza.openstack
