groups:
- name: NovaCompute
  rules:
    - alert: NoveMetricsMissing
      expr: absent_over_time({__name__=~"openstack_nova_(.+)"}[5m])
      labels:
        severity: critical
      annotations:
        summary: Nova Metrics Missing
        description: |
          No Nova metrics have been received in the last 5 minutes.

    - alert: NovaComputeDown
      expr: |
        openstack_nova_agent_state{adminState="enabled"} == 0
      for: 5m
      labels:
        severity: critical
      annotations:
        summary: Nova Compute Agent Down
        description: |
          The Compute Agent {{ $labels.service }} on {{ $labels.hostname }} is down
