applications:
  {{ charm_name }}:
    charm: {{ CHARM_PATH_NOBLE }}
    base: ubuntu@24.04
    exposed-endpoints:
      "":
        expose-to-cidrs:
        - 0.0.0.0/0
        - ::/0
  vault:
    exposed-endpoints:
      "":
        expose-to-cidrs:
        - 0.0.0.0/0
        - ::/0
