series: jammy
applications:
  {{ charm_name }}:
    charm: {{ JAMMY_CHARM_PATH }}
    {% if CHARM_SNAP_LOCATION %}
    resources:
      openstack-exporter: {{ CHARM_SNAP_LOCATION }}
    {% endif %}
    exposed-endpoints:
      "":
        expose-to-cidrs:
        - 0.0.0.0/0
        - ::/0
  vault:
    exposed-endpoints:
      "":
        expose-to-cidrs:
        - 0.0.0.0/0
        - ::/0
