name: Pull Request

on:
  pull_request:
    branches:
      - main

jobs:

  check-code-quality:
    name: Run charm code quality checks
    uses: ./.github/workflows/_quality_check.yaml
    with:
      tox-version: ""
      python-version: "3.10"
      juju-channel: "3.1/stable"

  check-file-updates:
    name: Check updates for charm files
    uses: ./.github/workflows/_check_file_update.yaml
